.book-table {
    border-collapse: collapse;
    width: 100%;
    padding: 55px;
}

.book-table th,
.book-table td {
    text-align: center;
    padding: 10px;
    color: #fff;
}

.book-table th,
.search {
    box-shadow: 0 0 10px rgba(255, 139, 139, 0.2);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.search {
    width: 400px;
}

.book-table tbody tr:nth-child(even) {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 139, 139, 0.2);
}

.book-table tbody tr:nth-child(odd) {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 139, 139, 0.2);
}

.edit-button,
.delete-button,
.search-button,
.reset-button,
.add-button {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    width: auto;
}

.edit-button:hover,
.search-button:hover,
.reset-button:hover,
.add-button {
    background: #25f984;
}

.delete-button:hover {
    background: #f92c25;
}

.description-textarea {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    overflow: auto;
}

.description-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px green;
    background: black;
    color: white;
    font-family: 'Arial', sans-serif;

}

.close-button {
    align-items: center;
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-description {
    height: auto;
    width: 250px;
    margin-top: 10px;
    white-space: pre-wrap;
}